// Media Queries
$small-up: 480px !default;
$small-medium-up: 768px !default;
$medium-up: 992px !default;
$large-up: 1200px !default;
// Font Styles
$font-bold: 700;
$font-semi-bold: 400;
$font-light: 200;