// Media Queries
$small-up: 480px !default;
$medium-up: 992px !default;
$large-up: 1200px !default;
// Images Path
$imagesPath: "/Images";
// Font Styles
$font-bold: 700;
$font-semi-bold: 400;
$font-light: 200;
// Colours
// $brand-primary: #008299; //Teal
// $brand-secondary: #72CCD5; // Teal light
// $brand-tertiary: #999999; //Grey